@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    margin: 0;
    padding:0;
}

.box{
    width: 98.5%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(228, 228, 228);
}

.container{
    width: 33rem;
    height: auto;
    padding: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    background: rgb(244, 250, 255);
    box-shadow: 0 7px 29px 0px rgba(109, 106, 106, 0.26);
    border: 1px solid rgba(255,255,255,0.2);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: .9375rem;
    border: transparent;

}
.error-alert{
    width: 30%;
    height: 20%;
    background-color: rgb(244, 250, 255);
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 4px;
}

.error-alert h1{
    position: relative;
    top: 0;
    color: white;
    text-shadow: 0px 7px 29px  black;
    bottom: 0;
    background-color: rgb(189, 185, 185);
    line-height: auto ;
    vertical-align:bottom;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
div{
    margin: 0.7rem;
}

label{
    font-weight: 540;
}

input, textarea{
    border:1px solid rgb(163, 163, 163);
    padding: .5rem;
}

input,textarea:focus{
    border: solid 1px rgb(18, 161, 78);
    outline: none;
}
button{
    padding: 5px;
    background-color: rgb(7, 143, 79);
    color:white;
    outline: none;
    border: transparent;
    height: 35px;
    width: 100px;
    cursor: pointer;
    border-radius: 8px;

}

.errorMsg{
    color: red;

}

.hide{
    display:none;
}

p{
    margin-top: 5px;
}
@media screen and (max-width: 750px){
    .main{
        display: grid;
        grid-template-columns: 1fr;
    }
    
.error-alert{
    width: 50%;
}
}  